<!--
* My Application
* app-three - Simple single page app start point
* @author Paul Smith (smiffy6969)
* @site component.razilo.net
* @licence MIT
-->

<!-- STYLE - Encapsulate all css to tag name -->
<style>
	app-three { margin: 0; padding: 0; display: block; background-color: #ddd; }
</style>

<!-- TEMPLATE -->
<template id="app-three">
	<razilo-page layout="page">
		<p>Component APP THREE</p>
	</razilo-page>
</template>

<!-- LOGIC -->
<script>
	new RaziloComponent('app-three', {
		attached: function() {
			console.log('three attached');
		},

		detached: function() {
			console.log('three detached');
		}
	});
</script>
